* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: serif;
    text-align: center;
      list-style-type: none;
      margin: auto;
}

a,
a:visited,
a:hover,
a:active {
  color: blue;
}
